<div class="footer">
  <div (click)="goToPage('/imprint')" class="footer-link">Impressum</div>
  <div>Kontakt</div>
  <div (click)="goToPage('/data-protection')" class="footer-link">Datenschutz</div>
  <div (click)="goToPage('/terms-conditions')" class="footer-link">AGB</div>
</div>
<div class="footer-text">
  <p>
    © 2026 - Tarifvergleich.Bayern. Das Vergleichsportal.<br />
    Hier können Verbraucherinnen und Verbraucher kostenlos Tarife und Produkte im Bereich Energie
    (Strom und Gas) vergleichen.<br />
    Tarifvergleich.Bayern legt größte Sorgfalt auf Vollständigkeit und Richtigkeit der dargestellten
    Informationen, übernimmt aber keine Gewähr für diese oder die Leistungsfähigkeit der Anbieter.
  </p>
</div>
