<div class="footer">
  <div>
    <span class="footer-link" (click)="goToPage('imprint')">Impressum</span> |
    <span class="footer-link">Kontakt</span> |
    <span class="footer-link" (click)="goToPage('data-protection')">Datenschutz</span> |
    <span class="footer-link" (click)="goToPage('terms-conditions')">AGB</span>
  </div>
</div>
<div class="footer-text">
  <p>
    © 2026 - Tarifvergleich.Bayern. Das Vergleichsportal.<br />
    Hier können Verbraucherinnen und Verbraucher kostenlos Tarife und Produkte im Bereich Energie
    (Strom und Gas) vergleichen.<br />
    Tarifvergleich.Bayern legt größte Sorgfalt auf Vollständigkeit und Richtigkeit der dargestellten
    Informationen, übernimmt aber keine Gewähr für diese oder die Leistungsfähigkeit der Anbieter.
  </p>
</div>