.feature-header, .feature-header1{
  padding: 0.3rem 0.5rem 0.4rem 0.5rem;
}



.info-icon-home {
  vertical-align: super;
  position: relative;
  margin-left: 1px;
  cursor: pointer;
  color:  #ffffff;
  width: 1em;
  height: 1em;
  font-size: 0.7em;
  font-weight: 500;
  border-radius: 50%;
}
