.feature-header,
.feature-header1 {
  padding: 0.3rem 0.5rem 0.5rem 0.5rem;
}

.person-option {
  /*   remaining in style.css  */
  padding-top: 0.2rem;
}

.person.active img {
  filter: brightness(0) saturate(100%) invert(32%) sepia(92%) saturate(1482%) hue-rotate(198deg)
    brightness(95%) contrast(96%);
}

.person.active .person-count {
  background-color: #0085e0; /* or your brand color */
  font-weight: 500;
}

.person:hover .icon-family-1,
.person:hover .icon-family-2,
.person:hover .icon-family-3,
.person:hover .icon-family-4,
.person:hover .icon-family-6 {
  filter: brightness(0) saturate(100%) invert(32%) sepia(92%) saturate(1482%) hue-rotate(198deg)
    brightness(95%) contrast(96%);
}

.icon-family-1 {
  height: 30px;
  width: 12px;
  color: #003366;
}

.icon-family-2 {
  height: 30px;
  width: 25px;
}

.icon-family-3 {
  height: 30px;
  width: 35px;
}

.icon-family-4 {
  height: 30px;
  width: 45px;
}

.icon-family-6 {
  height: 30px;
  width: 65px;
}

.discount {
  top: 74%;
  right: 3%;
}

.consumption-number {
  padding: 0.37rem 0.5rem 0.37rem 0.5rem;
  border: 1px solid #4a4949;
  width: 18.3rem;
  background-color: #ffffff;
}

.more-person {
  display: flex;
  flex-direction: column;
  gap: 0.95rem;
  /* padding: 0rem; */
}

.consumption-area {
  flex: 1;
  border: none;
  font-size: 14px;
  border-radius: 6px;
  outline: none;
  padding: 0.45rem 0.7rem;
  border: 1px solid #4a4949;
  width: 3.5rem;
  background-color: #ffffff;
}

/*   ---------- dialog box ------------- */

:host ::ng-deep .dialog-content p {
  margin: 0;
  font-size: 18px;
}

.dropdown-wrapper input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font: inherit;
  padding: 0;
}

.dropdown-wrapper {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%; /* 👈 directly below input */
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 9999;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 0 0 6px 6px;
}

.dropdown-item {
  padding: 10px 12px;
  cursor: pointer;
  font-size: 14px;
}

.dropdown-item:hover {
  background: #f5f5f5;
}

/* =========================
   MOBILE HIDE REGISTRATION
========================= */

@media screen and (max-width: 768px) {
  app-registration {
    display: none;
  }

}
