.feature-header, .feature-header1 {
  padding: 0.3rem 0.5rem 0.5rem 0.5rem;
}

.person-option{
  /*   remaining in style.css  */
  padding-top: 0.2rem;
}

.person.active img {
  filter: brightness(0) saturate(100%) invert(32%) sepia(92%) saturate(1482%) hue-rotate(198deg) brightness(95%) contrast(96%);
}

.person.active .person-count {
  background-color: #0085e0;   /* or your brand color */
  font-weight: 500;
}

.person:hover .icon-family-1, .person:hover .icon-family-2, .person:hover .icon-family-3,
.person:hover .icon-family-4, .person:hover .icon-family-6 {
  filter: brightness(0) saturate(100%) invert(32%) sepia(92%) saturate(1482%) hue-rotate(198deg) brightness(95%) contrast(96%);
}

.icon-family-1 {
  height: 30px;
  width: 12px;
  color: #003366;
}

.icon-family-2 {
  height: 30px;
  width: 25px;
}

.icon-family-3{
  height: 30px;
  width: 35px;
}

 .icon-family-4 {
  height: 30px;
  width: 45px;
}

.icon-family-6 {
  height: 30px;
  width: 65px;
}


