<div class="page-layout">
  <!-- ══════════ SIDEBAR ══════════ -->
  <div class="sidebar">
    <!-- Ansprechpartner -->
    <div class="card" style="border: 1px solid #003366">
      <div class="card-header" style="background-color: #003366; text-align: center">
        Ihr persönlicher Ansprechpartner
      </div>
      <div class="partner-photo-wrap">
        <img src="assets/images/MM.png" alt="Familienbetrieb" />
      </div>
      <div class="partner-info">
        <div class="partner-name">Manuel Markovic</div>
        <div class="container-main-btn">
          <button class="main-btn partner-btn">
            <span class="container-services">
              <img
                src="assets/icons/Telefonhörer_Weiss.png"
                class="icon-telephone"
                alt="telephone"
              />
            </span>
            <span class="btn-text">08157 / 999 42-0</span>
          </button>
          <button class="main-btn partner-btn">
            <span class="container-services">
              <img src="assets/icons/Mail.png" class="icon-email" alt="email" />
            </span>
            <span class="btn-text">mm@energiehandel.bayern</span>
          </button>
        </div>
      </div>
    </div>

    <div class="card" style="border: 1px solid #003366">
      <div class="container-contact-us">
        <div class="main-container-service">
          <div class="card-header" style="background-color: #003366">
            Benötigen Sie Unterstützung?
          </div>
          <div class="container-contact">
            <div class="contact-us">
              <button class="main-btn">
                <span class="container-services">
                  <img
                    src="assets/icons/Telefonhörer_Weiss.png"
                    class="icon-telephone"
                    alt="telephone"
                  />
                </span>
                <span class="btn-text">08157 / 999 42-0</span>
              </button>
              <button class="main-btn">
                <span class="container-services">
                  <img src="assets/icons/Lice-Chat_weiss.png" class="icon-wechat" alt="wechat" />
                </span>
                <span class="btn-text">per Live-Chat</span>
              </button>
              <button class="main-btn">
                <span class="container-services">
                  <img src="assets/icons/WhatsApp_weiss.png" class="icon-whatsapp" alt="whatsapp" />
                </span>
                <span class="btn-text">per WhatsApp</span>
              </button>
              <button class="main-btn">
                <span class="container-services">
                  <img src="assets/icons/Mail.png" class="icon-email" alt="email" />
                </span>
                <span class="btn-text">E-Mail</span>
              </button>
              <button class="main-btn">
                <span class="container-services">
                  <img
                    src="assets/icons/Kontaktformular.png"
                    class="icon-transport"
                    alt="transport"
                  />
                </span>
                <span class="btn-text">Kontaktformular</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /sidebar -->

  <!-- ══════════ MAIN CONTENT ══════════ -->
  <div class="main-content">
    <div class="progress-card">
      <div class="progress-header">Mein Konto</div>

      <!-- Profile Section -->
      <div class="profile-container">
        <div class="profile-image">
          <img src="assets/icons/Login.png" alt="Profile" />
        </div>

        <div class="profile-name">Marie Mustermann</div>

        <div class="profile-email">eingeloggt als <strong>marie@mustermann.de</strong></div>

        <div class="profile-logout" (click)="openLogoutModal()">Logout</div>
      </div>

      <!--Logout Overlay -->
      <div class="modal-overlay" *ngIf="showLogoutModal">
        <div class="modal-box">
          <h3>Bestätigen Sie die Abmeldung</h3>
          <p>Möchten Sie sich wirklich abmelden?</p>

          <div class="modal-actions">
            <button class="btn cancel" (click)="closeLogoutModal()">Stornieren</button>
            <button class="btn confirm" (click)="logout()">Ja, Abmelden</button>
          </div>
        </div>
      </div>

      <div class="tabs-wrapper">
        <div class="tabs">
          <button
            class="tab"
            *ngFor="let tab of tabs; let i = index"
            [class.active]="activeTab === i"
            (click)="setActiveTab(i)"
          >
            {{ tab }}
          </button>
        </div>
      </div>

      <!--══════════ Service Request Section Start (Tab - 4) ══════════-->

      <div class="container-login" *ngIf="activeTab === 4 && currentStep === 1">
        <div class="attorney-berich">Servicecenter</div>

        <div class="tab-row">
          <div class="service-tabs-container">
            <button
              class="service-tab"
              [class.active]="serviceTab === 1"
              (click)="toggleService(1)"
            >
              Neue Anfrage
            </button>

            <button
              class="service-tab"
              [class.active]="serviceTab === 2"
              (click)="toggleService(2)"
            >
              Offene Anfragen (1)
            </button>

            <button
              class="service-tab"
              [class.active]="serviceTab === 3"
              (click)="toggleService(3)"
            >
              In Bearbeitung (0)
            </button>

            <button
              class="service-tab"
              [class.active]="serviceTab === 4"
              (click)="toggleService(4)"
            >
              Geschlossene Anfragen (1)
            </button>
          </div>
          <!--══════════ New request Section ══════════-->

          <div style="width: 100%" *ngIf="activeTab === 4 && currentStep === 1 && serviceTab === 1">
            <div class="form-group">
              <div class="tab-header">Hilfe zu Ihren Verträgen und allgemeine Anfragen</div>
              <div class="tab-text">
                Klicken Sie einen Vertrag an, bei dem wir Sie unterstützen können.
              </div>
              <div class="tab-text">
                Falls sich Ihre Anfrage nicht auf einen speziellen Vertrag bezieht, wählen Sie bitte
                „Allgemene Anfrage ohne Vertragszuordnung erstellen“ aus.
              </div>
            </div>
            <br />
            <div class="scroll-wrapper">
              <button class="nav service-left" (click)="scrollLeft()">‹</button>

              <div class="service-card-container" #scrollContainer>
                <!-- Orange Card -->
                <div class="service-card add-service-card">
                  <div class="icon">
                    <img src="/assets/icons/icon_white_clean.png" class="logo" alt="logo" />
                  </div>
                  <div class="text">
                    Allgemeine Anfrage ohne<br />
                    Vertragszuordnung erstellen
                  </div>
                </div>

                <!-- Cards -->
                <div class="service-card contract-service-card" *ngFor="let card of cards">
                  <!-- Logo -->
                  <div class="logo-row">
                    <img [src]="card.logo" class="logo" />
                  </div>

                  <!-- Title -->
                  <div class="title-row">
                    <span class="title">{{ card.title }}</span>
                    <span class="date">| Auftrag vom {{ card.date }}</span>
                  </div>

                  <!-- Info -->
                  <div class="info">
                    <div class="info-item" *ngFor="let item of card.data">
                      <!-- ICON -->
                      <ng-container [ngSwitch]="normalizeIcon(item.icon)">
                        <span *ngSwitchCase="'meter'" class="material-symbols-outlined icon">
                          countertops
                        </span>

                        <span *ngSwitchCase="'home'" class="material-symbols-outlined icon">
                          home
                        </span>

                        <span *ngSwitchCase="'current'" class="material-symbols-outlined icon">
                          bolt
                        </span>

                        <span *ngSwitchCase="'doc'" class="material-symbols-outlined icon">
                          description
                        </span>
                      </ng-container>
                      <!-- LABEL -->
                      <span class="label">{{ item.label }}</span>

                      <!-- VALUE -->
                      <span class="value">{{ item.value }}</span>
                    </div>
                  </div>
                </div>
              </div>

              <button class="nav right" (click)="scrollRight()">&rsaquo;</button>
            </div>
            <br />
            <div class="tab-header">
              Teilen Sie uns bitte Ihre Anfrage mit, die Sie an Ihren persönlichen Ansprechpartner
              stellen möchten
            </div>

            <div style="display: flex; flex-direction: column; gap: 18px">
              <div class="form-group label">
                <div class="tab-heading">Titel</div>
              </div>

              <div class="form-group" style="width: 50%">
                <div class="field-wrap" style="padding: 4px 12px 4px 12px">
                  <!-- <span class="field-label">Titel</span> -->
                  <input matInput placeholder="Bitte Betreff eingeben" />
                </div>
              </div>

              <div class="form-group label">
                <div class="tab-heading">Kategorie</div>
              </div>

              <div class="form-group" style="width: 50%">
                <div class="field-wrap" style="padding: 4px 12px 4px 12px">
                  <!-- <span class="field-label">Kategorie</span> -->
                  <input matInput placeholder="Bitte wählen..." />
                </div>
              </div>
              <div class="form-group label">
                <div class="tab-heading">Ihr Anfragetext</div>
              </div>

              <textarea
                class="textarea"
                rows="5"
                placeholder="Wie können wir Ihnen weiterhelfen?"
              ></textarea>

              <div
                style="
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-end;
                  margin-top: 10px;
                "
              >
                <button class="btn-primary" (click)="nextStep(2)">
                  <span class="spinner"></span>
                  Anfrage abschicken
                </button>
              </div>
            </div>
          </div>

          <!--══════════ Open requests Section ══════════-->

          <div style="width: 100%" *ngIf="activeTab === 4 && currentStep === 1 && serviceTab === 2">
            <div *ngIf="showList">
              <div class="form-group">
                <div class="tab-header">Ihre Anfrage wurde erfolgreich abgesendet!</div>
                <div class="tab-text">
                  In der Übersicht können Sie Ihre Anfragen einsehen und verwalten
                </div>
              </div>
              <div class="request-list no-padding-child">
                <!-- Header Row -->
                <div class="list-header">
                  <div>Status</div>
                  <div>erstellt am</div>
                  <div>Kategorie</div>
                  <div>Betreff</div>
                  <div>Details</div>
                </div>

                <!-- Data Row -->
                <div class="list-row">
                  <div class="status">Warten auf Antwort vom Berater</div>
                  <div>28.03.2026 - 18:13 Uhr</div>
                  <div>Gewerbestrom Allgemein</div>
                  <div>Letzte Rechnung vom 28.03.2026</div>

                  <div class="details">
                    <span class="link" (click)="openDetails()">anzeigen</span>
                    <span class="material-symbols-outlined edit-icon"> edit_square </span>
                  </div>
                </div>
              </div>
            </div>

            <!--══════ Details Section ══════-->
            <div *ngIf="showDetails" class="details-page">
              <div class="chat-history">
                <!-- Meta Info -->
                <div class="form-group">
                  <div class="tab-header">Hilfe zu Ihren Offenen Anfragen</div>
                  <div class="tab-text">
                    Hier finden Sie eine offene Anfrage, die Sie ergänzen können.
                  </div>
                </div>

                <!-- Message -->
                <div class="message-card right">
                  <div class="message-title">
                    Ihre Nachricht an den Berater vom 29.03.2026 - 07:58 Uhr
                  </div>
                  <div class="message-body">
                    Hallo liebes Tarifvergleich.Bayern-Team,<br /><br />
                    ich habe noch eine Bitte bezüglich der letzten Rechnung Nr. 1234567 vom
                    28.03.2026. Inhaltlich ist diese korrekt, aber wäre es möglich, BLINDTEXT
                    BLINDTEXT BLINDTEXT.........
                    <br /><br />
                    Viele Grüße<br />
                    Marie Mustermann
                  </div>
                </div>

                <!-- Add new message -->
                <div class="new-message-section">
                  <!-- Heading -->
                  <div class="new-message-title">Neue Nachricht hinzufügen</div>

                  <!-- Input Field -->
                  <textarea
                    class="new-message-input"
                    placeholder="Ihre Nachricht eingeben..."
                  ></textarea>
                </div>
                <!-- Action Button -->
                <div
                  style="
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    margin-top: 10px;
                  "
                >
                  <button class="btn-primary">
                    <span class="spinner"></span>
                    Nachricht abschicken
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!--══════════ In Progress Section ══════════-->
          <div style="width: 100%" *ngIf="activeTab === 4 && currentStep === 1 && serviceTab === 3">
            <div class="form-group">
              <div class="tab-header">
                In der Übersicht können Sie Ihre Anfragen einsehen und verwalten.
              </div>
              <div class="tab-text">
                Klicken Sie einfach die Anfrage an, die Sie einsehen möchten
              </div>
            </div>
            <div class="request-list no-padding-child">
              <!-- Header Row -->
              <div class="list-header">
                <div>Status</div>
                <div>erstellt am</div>
                <div>Kategorie</div>
                <div>Betreff</div>
                <div>Details</div>
              </div>

              <!-- Data Row -->
              <div class="list-row">
                <div class="status">Wird vom Berater bearbeitet</div>
                <div>28.03.2026 - 18:13 Uhr</div>
                <div>Gewerbestrom Allgemein</div>
                <div>Letzte Rechnung vom 28.03.2026</div>

                <div class="details">
                  <span class="link">anzeigen</span>
                  <span class="material-symbols-outlined edit-icon"> edit_square </span>
                </div>
              </div>
            </div>
          </div>

          <!--══════════ Closed Requests Section ══════════-->
          <div style="width: 100%" *ngIf="activeTab === 4 && currentStep === 1 && serviceTab === 4">
            <!--══════ List Section ══════-->
            <div *ngIf="showList">
              <div class="form-group">
                <div class="tab-header">
                  In der Übersicht können Sie Ihre Anfragen einsehen und verwalten.
                </div>
                <div class="tab-text">
                  Klicken Sie einfach die Nachricht an, die Sie wieder eröffnen wollen, diese wird
                  dann in „Offene Anfragen“ angezeigt.
                </div>
              </div>
              <div class="request-list no-padding-child">
                <!-- Header Row -->
                <div class="list-header">
                  <div>Status</div>
                  <div>erstellt am</div>
                  <div>Kategorie</div>
                  <div>Betreff</div>
                  <div>Details</div>
                </div>

                <!-- Data Row -->
                <div class="list-row">
                  <div class="status">Abgeschlossen</div>
                  <div>28.03.2026 - 18:13 Uhr</div>
                  <div>Gewerbestrom Allgemein</div>
                  <div>Letzte Rechnung vom 28.03.2026</div>

                  <div class="details">
                    <span class="link" (click)="openDetails()">anzeigen</span>
                    <span class="material-symbols-outlined edit-icon"> edit_square </span>
                  </div>
                </div>
                <div class="list-row">
                  <div class="status">Abgeschlossen</div>
                  <div>28.03.2026 - 19:12 Uhr</div>
                  <div>Gewerbestrom Allgemein</div>
                  <div>Re: Letzte Rechnung vom 28.03.2026</div>

                  <div class="details">
                    <span class="link" (click)="openDetails()">anzeigen</span>
                    <span class="material-symbols-outlined edit-icon"> edit_square </span>
                  </div>
                </div>
                <div class="list-row">
                  <div class="status">Abgeschlossen</div>
                  <div>29.03.2026 - 07:58 Uhr</div>
                  <div>Gewerbestrom Allgemein</div>
                  <div>Re: Re: Letzte Rechnung vom 28.03.2026</div>

                  <div class="details">
                    <span class="link" (click)="openDetails()">anzeigen</span>
                    <span class="material-symbols-outlined edit-icon"> edit_square </span>
                  </div>
                </div>
              </div>
            </div>
            <!--══════ Details Section ══════-->
            <div *ngIf="showDetails" class="details-page">
              <div class="form-group">
                <div class="tab-header">
                  In der Übersicht können Sie Ihre Anfragen einsehen und verwalten.
                </div>
                <div class="tab-text">
                  Sie können diese Nachrichten durch anklicken auf „Anfrage wieder eröffnen“
                  bearbeiten.
                </div>
              </div>
              <br />
              <div class="attorney-berich no-padding-child">
                Ihr Nachrichtenverlauf im Überblick:
              </div>

              <div class="chat-history">
                <!-- Meta Info -->
                <div class="chat-meta">
                  <div><strong>Datum:</strong> 28.03.2026 - 29.03.2026</div>
                  <div><strong>Kategorie:</strong> Gewerbestrom Allgemein</div>
                  <div><strong>Titel:</strong> Letzte Rechnung vom 28.03.2026</div>
                </div>

                <!-- Message 1 -->
                <div class="message-card right">
                  <div class="message-title">
                    Ihre Nachricht an den Berater vom 29.03.2026 - 07:58 Uhr
                  </div>
                  <div class="message-body">
                    Hallo liebes Tarifvergleich.Bayern-Team,<br /><br />
                    ich habe noch eine Bitte bezüglich der letzten Rechnung Nr. 1234567 vom
                    28.03.2026. Inhaltlich ist diese korrekt, aber wäre es möglich, BLINDTEXT
                    BLINDTEXT BLINDTEXT.........
                    <br /><br />
                    Viele Grüße<br />
                    Marie Mustermann
                  </div>
                </div>

                <!-- Message 2 -->
                <div class="message-card left">
                  <div class="message-title">
                    Nachricht von Ihrem Berater vom 28.03.2026 - 19:12 Uhr
                  </div>
                  <div class="message-body">
                    Sehr geehrte Frau Mustermann,<br /><br />
                    vielen Dank für ihre Anfrage vom 28.03.2026 - 18:13 Uhr bezüglich der letzten
                    Rechnung Nr. 1234567. Wir haben diese geprüft und die von Ihnen gewünschte
                    Änderung vorgenommen. Die geänderte Rechnung wurde an Ihre E-Mail-Adresse
                    gesendet.
                    <br /><br />
                    Für weitere Rückfragen stehe ich Ihnen gern zur Verfügung.<br />
                    Mit vielen Grüßen<br /><br />
                    Manuel Markovic<br />
                    Kundenberater
                  </div>
                </div>

                <!-- Message 3 -->
                <div class="message-card right">
                  <div class="message-title">
                    Ihre Nachricht an den Berater vom 28.03.2026 - 18:13 Uhr
                  </div>
                  <div class="message-body">
                    Hallo,<br /><br />
                    bei der geänderten Rechnung 123456 vom 28.03.2026 ist mir aufgefallen, dass ich
                    folgende Angabe vergessen hatte, können Sie diesen noch einfügen und mir die
                    Rechnung erneut zukommen lassen? Sorry für die Umstände.
                    <br /><br />
                    Viele Grüße<br />
                    Maria Mustermann
                  </div>
                </div>

                <!-- Action Button -->
                <div
                  style="
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    margin-top: 10px;
                  "
                >
                  <button class="btn-primary" (click)="confirmation()">
                    <span class="spinner"></span>
                    Anfrage wieder eröffnen
                  </button>
                </div>
              </div>
            </div>
            <!--══════ Confirmation Section ══════-->
            <div *ngIf="confirmationList" class="details-page">
              <div class="form-group">
                <div class="tab-header">
                  Sie können Ihre Anfragen nach Angabe Ihres Grundes wieder eröffnen.
                </div>
                <div class="tab-text">
                  Sie können diese Nachrichten durch anklicken auf „Nachricht abschicken und
                  Serviceanfrage wieder eröffnen“ bearbeiten
                </div>
              </div>
              <br />
              <div class="attorney-berich no-padding-child">
                Ihr Nachrichtenverlauf im Überblick:
              </div>
              <div class="chat-history">
                <!-- Meta Info -->
                <div style="padding: 10px 0px">
                  <div><strong>Datum:</strong> 28.03.2026 - 29.03.2026</div>
                  <div><strong>Kategorie:</strong> Gewerbestrom Allgemein</div>
                  <div><strong>Titel:</strong> Letzte Rechnung vom 28.03.2026</div>
                </div>
                <div class="history-confirmation">
                  <strong> Wollen Sie die Serviceanfrage wirklich wieder eröffnen? </strong>
                </div>
                <div class="history-confirmation">
                  <strong>
                    Oder wollen sie stattdessen eine neue Anfrage zu einem anderen Thema stellen?
                  </strong>
                </div>
                <div class="history-confirmation">
                  <strong>
                    Dann klicken Sie bitte unten auf den Button „Neue Anfrage stellen“.
                  </strong>
                </div>
                <br />
                <p>
                  <strong>
                    Falls Sie die Serviceanfrage wieder eröffnen möchten, geben Sie uns bitte den
                    Grund an:
                  </strong>
                </p>
                <div class="form-row">
                  <div class="form-group" style="margin-bottom: 10px">
                    <div class="field-wrap">
                      <span class="field-label">
                        Bitte Grund angeben, z.B. neue Informationen zufügen
                      </span>
                      <input type="text" />
                    </div>
                  </div>
                </div>
              </div>
              <!-- Action Button -->
              <div
                style="
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-end;
                  margin-top: 10px;
                  gap: 20px;
                "
              >
                <button class="btn-primary">
                  <span class="spinner"></span>
                  Nachricht abschicken und Serviceanfrage wieder eröffnen
                </button>

                <button class="btn-primary" style="margin-left: inherit">
                  <span class="spinner"></span>
                  Neue Anfrage stellen
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--══════════ Service Request Section End ══════════-->

      <!--══════════ Power of Attorney Section Start (Tab - 5) ══════════-->

      <div class="container-login" *ngIf="activeTab === 5 && currentStep === 1">
        <div class="attorney-berich">
          {{
            customerType === 2
              ? 'Beratervollmacht für Geschäftskunden'
              : 'Beratervollmacht für Privatkunden'
          }}
        </div>

        <div class="tab-row">
          <div class="form-group">
            <div class="tab-header">Beratervollmacht</div>
            <div class="tab-text">
              Wir benötigen eine Beratervollmacht für Ihre Energieverträge, damit Sie einige unserer
              Funktionen nutzen können und wir unseren Rundum-Service anbieten dürfen. Sie
              ermöglichen uns damit u.a. Zählerstand melden, Rechnung anfordern, Umzug melden,
              Kündigungsservice, Abschlag ändern, Zähleraustausch melden, Nachricht an
              Energielieferanten senden, Rechnungen anfordern, uvm.
            </div>
          </div>

          <div class="form-group">
            <div class="tab-header">E-Mail</div>
            <div class="tab-text">
              Nach anklicken des Buttons „Beratervollmacht erteilen“ erhalten Sie eine E-Mail mit
              dem weiteren Vorgehen.
            </div>
          </div>

          <div
            style="display: flex; flex-direction: row; justify-content: flex-end; margin-top: 10px"
          >
            <button class="btn-primary" (click)="nextStep(2)">
              <span class="spinner"></span>
              Beratervollmacht für Privatkunden erteilen
            </button>
          </div>
        </div>
      </div>

      <div class="container-login" *ngIf="activeTab === 5 && currentStep === 2">
        <div class="attorney-berich">
          {{
            customerType === 2
              ? 'Beratervollmacht für Geschäftskunden'
              : 'Beratervollmacht für Privatkunden'
          }}
        </div>

        <div class="tab-row">
          <div class="hint-box">
            <div class="hint-content">
              <div class="hint-title-row">
                <img src="assets/icons/lamp.png" alt="hint" />
                <div class="text-block">
                  <p class="hint-title">Hinweis: Unterzeichnen am Smartphone / Tablet oder PC</p>

                  <p>
                    Wenn Sie die Beratervollmacht an Ihrem Smartphone / Tablet unterzeichnen wollen,
                    scannen Sie bitte dafür den nebenstehenden QR-Code mit Ihrem Smartphone /
                    Tablet, Sie werden dann zur digitalen Unterschriftsseite weitergeleitet
                  </p>

                  <p>
                    Falls Sie lieber am PC oder Laptop unterzeichnen wollen, müssen Sie im unten
                    angezeigten Feld die linke Maustaste gedrückt halten und mit der Maus
                    unterschreiben.
                  </p>
                </div>
              </div>
            </div>

            <div class="qr-section">
              <img src="assets/icons/qr.png" alt="QR Code" />
            </div>
          </div>

          <div class="form-group">
            <div class="tab-header">
              {{
                customerType === 2 ? 'Vollmacht für Geschäftskunden' : 'Vollmacht für Privatkunden'
              }}
            </div>
            <div class="tab-text">Hiermit bevollmächtigt</div>
          </div>
          <div class="container-readonly">
            <div class="form-row">
              <div class="form-group" *ngIf="customerType === 2">
                <div class="field-wrap readonly">
                  <span class="field-label">Firma</span>
                  <input type="text" class="text-field" placeholder="Muelli Industries" readonly />
                  <span class="field-icon">
                    <img src="assets/icons/Schloss.png" class="icon-schloss" alt="check" />
                  </span>
                </div>
              </div>
              <div class="form-group">
                <div class="field-wrap readonly">
                  <span class="field-label">Anrede</span>
                  <input type="text" class="text-field" placeholder="Herr" readonly />
                  <span class="field-icon">
                    <img src="assets/icons/Schloss.png" class="icon-schloss" alt="check" />
                  </span>
                </div>
              </div>
              <div class="form-group">
                <div class="field-wrap readonly">
                  <span class="field-label">Titel</span>
                  <input type="text" class="text-field" readonly />
                  <span class="field-icon">
                    <img src="assets/icons/Schloss.png" class="icon-schloss" alt="check" />
                  </span>
                </div>
              </div>
            </div>

            <div class="form-row" *ngIf="customerType === 2">
              <div class="form-group">
                <div class="field-wrap">
                  <span class="field-label">Vorname des gesetzlichen Vertreters</span>
                  <input type="text" />
                </div>
              </div>
              <div class="form-group">
                <div class="field-wrap">
                  <span class="field-label">Nachname des gesetzlichen Vertreters</span>
                  <input type="text" />
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <div class="field-wrap readonly">
                  <span class="field-label">Vorname</span>
                  <input type="text" class="text-field" readonly />
                  <span class="field-icon">
                    <img src="assets/icons/Schloss.png" class="icon-schloss" alt="check" />
                  </span>
                </div>
              </div>
              <div class="form-group">
                <div class="field-wrap readonly">
                  <span class="field-label">Nachname</span>
                  <input type="text" class="text-field" readonly />
                  <span class="field-icon">
                    <img src="assets/icons/Schloss.png" class="icon-schloss" alt="check" />
                  </span>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group" style="flex: 0 0 160px">
                <div class="field-wrap readonly">
                  <span class="field-label">Ihre PLZ</span>
                  <input type="text" class="text-field" readonly />
                  <span class="field-icon">
                    <img src="assets/icons/Schloss.png" class="icon-schloss" alt="check" />
                  </span>
                </div>
              </div>
              <div class="form-group">
                <div class="field-wrap readonly">
                  <span class="field-label">Ort</span>
                  <input type="text" class="text-field" readonly />
                  <span class="field-icon">
                    <img src="assets/icons/Schloss.png" class="icon-schloss" alt="check" />
                  </span>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <div class="field-wrap readonly">
                  <span class="field-label">Ihre Straße</span>
                  <input type="text" class="text-field" readonly />
                  <span class="field-icon">
                    <img src="assets/icons/Schloss.png" class="icon-schloss" alt="check" />
                  </span>
                </div>
              </div>
              <div class="form-group" style="flex: 0 0 160px">
                <div class="field-wrap readonly">
                  <span class="field-label">Hausnummer</span>
                  <input type="text" class="text-field" readonly />
                  <span class="field-icon">
                    <img src="assets/icons/Schloss.png" class="icon-schloss" alt="check" />
                  </span>
                </div>
              </div>
            </div>

            <div class="form-row" style="align-items: center">
              <div class="form-group">
                <div class="field-wrap readonly">
                  <span class="field-label">Kundennnummer</span>
                  <input type="text" class="text-field" readonly />
                  <span class="field-icon">
                    <img src="assets/icons/Schloss.png" class="icon-schloss" alt="check" />
                  </span>
                </div>
              </div>
              <span class="info-base info-circ" style="flex-shrink: 0">i</span>
            </div>
          </div>

          <div class="power-section">
            <p><strong>- nachfolgend Kunde -</strong></p>

            <p>
              die<br />
              Bavariaphone24 Vertrieb & Service GmbH<br />
              c/o tarifvergleich-deutschland.de<br />
              Bahnhofstraße 19<br />
              87724 Ottobeuren
            </p>

            <p><strong>- nachfolgend „tarifvergleich-deutschland.de“ -</strong></p>

            <p>
              zur Vertretung in den nachfolgend genannten Angelegenheiten gegenüber Strom- und
              Gasanbietern, sowie entsprechender Vermittlungsplattformen - nachfolgend
              zusammengefasst „Gesellschaften“ genannt.
            </p>

            <p><strong>Diese Vollmacht umfasst insbesondere:</strong></p>

            <ul class="check-list">
              <li>
                die uneingeschränkte aktive und passive Vertretung des Kunden gegenüber den
                jeweiligen Gesellschaften, einschließlich der Abgabe aller die Verträge betreffenden
                Willenserklärungen, die Kündigung und Änderung bestehender und den Abschluss neuer
                Verträge sowie die Übernahme bestehender Verträge;
              </li>

              <li>die Einholung von Auskünften von den Gesellschaften im Namen des Kunden;</li>

              <li>
                die Entgegennahme der dem Kunden durch das jeweilige Unternehmen vor
                Vertragserklärung zu übergebenden vertragsbezogenen Unterlagen (insbesondere
                Allgemeine und Besondere Vertragsbedingungen, Produktinformationsblätter,
                Verbraucherinformationen sowie gesetzlich vorgeschriebene vorvertraglich bereit zu
                stellende Unterlagen);
              </li>

              <li>
                die Geltendmachung von Ansprüchen aus den von tarifvergleich-deutschland.de
                vermittelten oder in die Verwaltung durch tarifvergleich-deutschland.de übernommenen
                Verträgen;
              </li>

              <li>
                die Erteilung von Untervollmachten an Subunternehmer der
                tarifvergleich-deutschland.de und Dritte, die von Berufswegen zur Verschwiegenheit
                verpflichtet sind oder die datenschutzrechtlich zur Verschwiegenheit verpflichtet
                wurden;
              </li>

              <li>
                die Ermächtigung zur außergerichtlichen und gerichtlichen Geltendmachung der
                Ansprüche des Kunden gegenüber den Gesellschaften zum jeweiligen Vertrag im Namen
                des Kunden;
              </li>

              <li>
                die Erteilung von SEPA-Lastschriftaufträgen zu Lasten des Kontos des Kunden
                gegenüber Gesellschaften zur Abbuchung von Entgelten.
              </li>
            </ul>

            <p>
              Beim Abschluss von Verträgen mit Gesellschaften ist die tarifvergleich-deutschland.de
              von den Beschränkungen des § 181 BGB befreit
            </p>
            <p>
              Der Kunde erklärt sich explizit damit einverstanden, dass die
              tarifvergleich-deutschland.de die Vollmacht im Rahmen Ihrer Tätigkeit für den Kunden
              den Gesellschaften und sonstigen Dritten zum Nachweis der Vertretungsberechtigung
              vorlegen darf.
            </p>

            <p>
              Die vorliegend erteilte Vollmacht gilt auf unbestimmte Zeit, jedoch kann der Kunde die
              Vollmacht unabhängig des bestehenden Rahmensvertrags jederzeit durch Erklärung in
              Textform gegenüber der tarifvergleich-deutschland.de für die Zukunft widerrufen.
            </p>
          </div>

          <div class="form-row">
            <!-- Ort, Datum -->
            <div class="form-group">
              <div class="field-wrap">
                <span class="field-label">Ort, Datum</span>
                <input matInput placeholder="Musterhausen, 30.03.2026" />
              </div>
            </div>

            <!-- Signature -->
            <!-- <div class="form-group signature-group">
              <div class="field-wrap signature">
                <span class="field-label">Unterschrift</span>

                <canvas
                  #signaturePad
                  class="signature-canvas"
                  (mousedown)="startDrawing($event)"
                  (mousemove)="draw($event)"
                  (mouseup)="stopDrawing()"
                  (mouseleave)="stopDrawing()"
                ></canvas>

                <button class="clear-btn" (click)="clearCanvas()">Clear</button>
              </div>
            </div> -->
            <div class="form-group signature-group">
              <div class="field-wrap signature">
                <span class="field-label">Unterschrift</span>

                <canvas #canvas class="signature-canvas"></canvas>
                <button class="clear-btn" (click)="clear()">Clear</button>
                <!-- <div class="signature-actions">
                  <button (click)="clear()">Clear</button>
                  <button (click)="save()">Save</button>
                </div> -->
              </div>
            </div>
          </div>

          <div
            style="display: flex; flex-direction: row; justify-content: flex-end; margin-top: 10px"
          >
            <button class="btn-primary" (click)="nextStep(3)">
              <span class="spinner"></span>
              Beratervollmacht für Privatkunden erteilen
            </button>
          </div>
        </div>
      </div>

      <div class="container-login" *ngIf="activeTab === 5 && currentStep === 3">
        <div class="attorney-berich-green">
          {{
            customerType === 2
              ? 'Beratervollmacht für Geschäftskunden'
              : 'Beratervollmacht für Privatkunden'
          }}
        </div>
        <div class="tab-row">
          <div class="success-box">
            <div class="success-content">
              <div class="success-row">
                <img src="assets/icons/Kreis_Haken_gruen.png" alt="success" />

                <div class="text-block">
                  <div class="tab-header">Beratervollmacht erfolgreich erstellt!</div>
                  <div class="tab-text">Erstellt am 30.03.2026 um 18:26 Uhr (MEZ)</div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="tab-header">Beratervollmacht widerrufen</div>
            <div class="tab-text">
              <strong>Hinweis:</strong> Wenn Sie die Beratervollmacht widerrufen, sind viele
              Funktionen im Kundenbereich nicht mehr nutzbar.
            </div>
          </div>
          <div
            style="display: flex; flex-direction: row; justify-content: flex-end; margin-top: 10px"
          >
            <button class="btn-primary" (click)="nextStep(4)">
              <span class="spinner"></span>
              Beratervollmacht widerrufen
            </button>
          </div>
        </div>
      </div>

      <div class="container-login" *ngIf="activeTab === 5 && currentStep === 4">
        <div class="attorney-berich">
          {{
            customerType === 2
              ? 'Beratervollmacht für Geschäftskunden'
              : 'Beratervollmacht für Privatkunden'
          }}
        </div>
        <div class="tab-row">
          <div class="failed-box">
            <div class="success-content">
              <div class="success-row">
                <img src="assets/icons/cross.png" alt="failed" />

                <div class="text-block">
                  <div class="tab-header">Der Link ist abgelaufen oder Sie haben uns bereits</div>
                  <div class="tab-header" style="margin-bottom: 0">
                    Ihre Beratervollmacht erteilt.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ══════════ Power of Attorney End ══════════-->

      <!-- ══════════ Reset Password Start (Tab - 7) ══════════-->

      <div class="container-login" *ngIf="activeTab === 7 && currentStep === 1">
        <div class="login-berich">Bitte geben Sie Ihr neues Passwort ein</div>
        <div class="tab-row">
          <div class="form-group">
            <div class="login-text">Neues Passwort eingeben:</div>
          </div>

          <div class="form-group">
            <div class="field-wrap">
              <div>
                <span class="field-label">Passwort</span>
                <input
                  #pwField
                  name="password"
                  [type]="showPw ? 'text' : 'password'"
                  [value]="password"
                  [style.background-color]="passwordMismatch ? '#fff0f0' : 'white'"
                  (input)="
                    password = $any($event.target).value;
                    validatePassword($any($event.target).value, repField.value)
                  "
                />
              </div>
              <span class="material-symbols-outlined pw-toggle" (click)="showPw = !showPw">{{
                showPw ? 'visibility' : 'visibility_off'
              }}</span>
            </div>
          </div>

          <div class="form-group">
            <div class="login-text">Passwort wiederholen:</div>
          </div>

          <div class="form-group">
            <div class="field-wrap">
              <div>
                <span class="field-label">Passwort wiederholen</span>
                <input
                  #repField
                  name="passwordRepeat"
                  [type]="showRepPw ? 'text' : 'password'"
                  [style.background-color]="passwordMismatch ? '#fff0f0' : 'white'"
                  (input)="validatePassword(pwField.value, $any($event.target).value)"
                />
              </div>
              <span class="material-symbols-outlined pw-toggle" (click)="showRepPw = !showRepPw">{{
                showRepPw ? 'visibility' : 'visibility_off'
              }}</span>
            </div>
          </div>

          <div class="password-guidelines">
            <div class="login-text" style="font-weight: 50; margin-bottom: 6px">
              Grundsätzliches zu sicheren Passwörtern / Kennwortrichtlinien
            </div>

            <div class="guideline-row">
              <span
                class="guideline-icon"
                [class.valid]="pw_length"
                [class.invalid]="!pw_length"
              ></span>
              <span class="login-text" [style.color]="pw_length ? 'green' : '#666'">
                Mindestens 8 und maximal 50 Zeichen
              </span>
            </div>

            <div class="guideline-row">
              <span
                class="guideline-icon"
                [class.valid]="pw_case"
                [class.invalid]="!pw_case"
              ></span>
              <span class="login-text" [style.color]="pw_case ? 'green' : '#666'">
                Ein Groß- und ein Kleinbuchstabe
              </span>
            </div>

            <div class="guideline-row">
              <span
                class="guideline-icon"
                [class.valid]="pw_special"
                [class.invalid]="!pw_special"
              ></span>
              <span class="login-text" [style.color]="pw_special ? 'green' : '#666'">
                Mindestens ein Sonderzeichen (!, @, $, %, ^, &, *, +, #)
              </span>
            </div>

            <div class="guideline-row">
              <span
                class="guideline-icon"
                [class.valid]="pw_number"
                [class.invalid]="!pw_number"
              ></span>
              <span class="login-text" [style.color]="pw_number ? 'green' : '#666'">
                Mindestens eine Zahl
              </span>
            </div>

            <div class="guideline-row">
              <span
                class="guideline-icon"
                [class.valid]="pw_number"
                [class.invalid]="!pw_number"
              ></span>
              <span class="login-text" [style.color]="pw_number ? 'green' : '#666'">
                Ihr Passwort darf keine Ähnlichkeit mit ihrer E-Mail-Adresse haben
              </span>
            </div>
          </div>

          <!-- Back / Next -->
          <div
            style="
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              margin-top: 10px;
            "
          >
            <button class="btn-back">&lt; Zurück</button>
            <div class="form-actions">
              <button class="btn-primary" (click)="nextStep(2)">
                <span class="spinner"></span>
                Neues Passwort absenden
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- OTP VERIFY  -->
      <div class="container-login" *ngIf="activeTab === 7 && currentStep === 2">
        <div class="login-berich">
          {{ otpInvalid || newOtp ? 'Geben Sie den Code ein' : 'Bitte überprüfen Sie den Code' }}
        </div>

        <div class="login-row">
          <div class="login-text" *ngIf="otpInvalid">
            <strong>
              Der eingegebene Code stimmt leider nicht mit dem gesendeten Code überein
            </strong>
          </div>

          <div class="login-text" *ngIf="newOtp">
            Wir haben bereits einen neuen Code an Ihre E-Mail-Adresse gesendet.
          </div>

          <div class="login-text">Ihre E-Mail-Adresse:</div>
          <div class="email-field">
            <div class="input-field" style="flex: 1; background-color: #afadad; border: none">
              <span class="material-symbols-outlined" style="color: black">account_circle</span>
              <input
                name="email"
                type="email"
                value="marie@mustermann.de"
                style="background-color: #afadad"
                readonly
              />
            </div>
            <span style="display: flex; align-items: center; padding-left: 20px"
              ><img src="assets/icons/Schloss.png" class="icon-schloss" alt="check"
            /></span>
          </div>
          <div class="login-text">
            {{
              otpInvalid || newOtp
                ? 'Bitte geben Sie den Code erneut ein, den wir an '
                : 'Bitte geben Sie den Code ein, den wir an '
            }}

            <strong>marie@mustermann.de</strong> gesendet haben.
          </div>
          <div class="login-text">Code aus E-Mail eingeben</div>
          <div class="code-inputs" [class.code-error]="otpError">
            <input
              *ngFor="let i of [0, 1, 2, 3, 4, 5]"
              type="text"
              maxlength="1"
              [id]="'otp-' + i"
              (input)="onOtpInput($event, i)"
              (keydown)="onOtpKeydown($event, i)"
              (paste)="onOtpPaste($event)"
            />
          </div>

          <div class="error-msg" *ngIf="otpError">{{ otpError }}</div>

          <div class="login-text">
            Keinen Code erhalten? Bitte prüfen Sie auch Ihren Spam-Ordner.

            <span
              [style.color]="isResendDisabled ? '#999' : '#0085e0'"
              [style.pointerEvents]="isResendDisabled ? 'none' : 'auto'"
            >
              <span *ngIf="isResendDisabled">
                Code erneut senden&nbsp;
                <countdown #countdown [config]="config" (event)="handleEvent($event)"></countdown>
              </span>

              <span *ngIf="!isResendDisabled"> Code erneut senden </span>
            </span>
          </div>

          <div style="display: flex; flex-direction: row; justify-content: space-between">
            <button class="btn-back" (click)="nextStep(1)" style="cursor: pointer">
              &lt; Zurück
            </button>
            <div class="form-actions">
              <button class="btn-primary" [disabled]="otpValue.length < 6" (click)="nextStep(3)">
                <span class="spinner"></span>
                {{ otpInvalid || newOtp ? 'Code erneut prüfen' : 'Code prüfen' }}
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="container-login" *ngIf="activeTab === 7 && currentStep === 3">
        <div class="attorney-berich-green">Passwort erfolgreich zurückgesetzt!</div>
        <div class="tab-row">
          <div class="form-group">
            <div class="tab-header">
              Sie können sich beim nächsten Login mit Ihrem neuen Passwort anmelden.
            </div>
            <div class="tab-text">
              Ein Bestätigungsmail zur Passwortänderung wurde an Ihre E-Mail-Adresse
              marie@mustermann.de gesendet.
            </div>
          </div>
        </div>
      </div>
      <!--══════════ Reset Password End ══════════-->
    </div>
  </div>
</div>
