<header class="header">
  <div class="header-content">
    <!-- MOBILE TOPBAR -->
    <div class="mobile-topbar">
      <!-- Hamburger -->
      <button class="hamburger-btn" (click)="toggleMenu()">☰</button>

      <!-- Logo -->
      <div class="logo mobile-logo">
        <img src="assets/icons/Logo.png" alt="Logo" class="logo-img" />
      </div>

      <!-- Search Icon -->
      <button class="search-btn" aria-label="Search" (click)="toggleSearch()">🔍</button>
    </div>

    <!-- OVERLAY -->
    <div class="mobile-overlay" *ngIf="isMenuOpen" (click)="closeMenu()"></div>

    <!-- MOBILE SIDEBAR -->
    <div class="mobile-sidebar" [class.active]="isMenuOpen">
      <div class="sidebar-header">
        <div class="home-icon" routerLinkActive="active">
          <a routerLink="/home" (click)="closeMenu()">
            <img src="assets/icons/Startseite.png" class="nav-icon-home" alt="home" />
          </a>
        </div>

        <button class="close-btn" (click)="closeMenu()">✕</button>
      </div>

      <ul class="nav-links mobile-nav">
        <li
          *ngFor="let item of navItems"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{
            exact: item.originalFileName !== 'Stromvergleich.png',
          }"
        >
          <a [routerLink]="getRouterLink(item.originalFileName)" (click)="closeMenu()">
            <img
              [src]="getImageUrl(item.contentUrl)"
              [class]="getIconClass(item.originalFileName)"
              [alt]="item.originalFileName"
            />

            <span class="nav-text">
              {{ item.heading }}

              <span *ngIf="item.subHeading" class="small-text">
                {{ item.subHeading }}
              </span>
            </span>
          </a>
        </li>
      </ul>
      <br />
      <!-- Profile -->
      <div class="container-profile">
        <button class="profile" (click)="redirect()">
          <span class="login">
            <img src="assets/icons/Login.png" class="login-icon" alt="login" />
          </span>

          @if (isLoggedIn()) {
            <h3 class="text login-link">Profil</h3>
          } @else {
            <h3 class="text login-link">Login</h3>
          }
        </button>
      </div>
    </div>

    <!-- MOBILE SEARCH -->
    <div class="mobile-search-wrapper" *ngIf="showMobileSearch">
      <div class="mobile-search-bar">
        <!-- Input -->
        <div class="search-box">
          <input type="text" placeholder="Was möchten Sie vergleichen?" />
          <span class="dropdown-arrow"></span>
        </div>

        <!-- Search Icon -->
        <button class="mobile-search-icon-btn">🔍</button>

        <!-- Close Icon -->
        <button class="mobile-search-close" (click)="toggleSearch()">✕</button>
      </div>
    </div>

    <div class="desktop-header">
      <!-- Logo -->
      <div class="logo">
        <img src="assets/icons/Logo.png" alt="Logo" class="logo-img" />
      </div>

      <!-- Search -->
      <div class="search-wrapper">
        <div class="search-box">
          <input type="text" placeholder="Was möchten Sie vergleichen?" />
          <span class="dropdown-arrow"></span>
        </div>
        <button class="search-btn" aria-label="Search">🔍</button>
      </div>

      <div class="container-advice">
        <div class="expert-container">
          <div class="expert">
            <span class="text">Sie wünschen eine Beratung durch Experten?</span>
          </div>
          <div class="icon phone">
            <img
              src="assets/icons/Telefonhörer_Weiss.png"
              class="phone-icon"
              alt="telephone-icon"
            />
          </div>
          <div>
            <span class="expert phone">
              <span class="text">08157 / 999 42 - 0</span>
            </span>
          </div>
        </div>

        <div class="contact">
          <button class="contact-button">
            <span class="icon-wrapper">
              <img src="assets/icons/Lice-Chat_weiss.png" class="chat-icon" alt="chat-icon" />
            </span>
            <span class="text">Live-Chat</span>
          </button>

          <button class="contact-button">
            <span class="icon-wrapper">
              <img src="assets/icons/WhatsApp_weiss.png" class="chat-icon" alt="whats-app" />
            </span>
            <span class="text">WhatsApp</span>
          </button>

          <button class="contact-button">
            <span class="icon-wrapper">
              <img src="assets/icons/Mail.png" class="email-icon" alt="mail" />
            </span>
            <span class="text">E-Mail</span>
          </button>

          <!-- Chat -->
          <button class="contact-button">
            <span class="icon-wrapper">
              <img src="assets/icons/Kontaktformular.png" class="chat-icon" alt="contact-form" />
            </span>
            <span class="text">Kontaktformular</span>
          </button>
        </div>
      </div>

      <!-- Profile -->
      <div class="container-profile">
        <button class="profile" (click)="redirect()">
          <span class="login">
            <img src="assets/icons/Login.png" class="login-icon" alt="login" />
          </span>

          @if (isLoggedIn()) {
            <h3 class="text login-link">Profil</h3>
          } @else {
            <h3 class="text login-link">Login</h3>
          }
        </button>
      </div>
    </div>
  </div>
</header>
