<div class="card" style="border: 1px solid #003366;">
  <div class="container-contact-us">
    <div class="main-container-service">
      <div class="card-header" style="background-color:#003366;">Benötigen Sie Unterstützung?</div>
      <div class="container-contact">
        <div class="contact-us">

          <button class="main-btn">
            <span class="container-services">
              <img src="assets/icons/Telefonhörer_Weiss.png" class="icon-telephone" alt="telephone">
            </span>
            <span class="btn-text">{{ contactNumber || '...' }}</span>
          </button>

          <button class="main-btn">
            <span class="container-services">
              <img src="assets/icons/Lice-Chat_weiss.png" class="icon-wechat" alt="wechat">
            </span>
            <span class="btn-text">per Live-Chat</span>
          </button>
          <button class="main-btn">
            <span class="container-services">
              <img src="assets/icons/WhatsApp_weiss.png" class="icon-whatsapp" alt="whatsapp">
            </span>
            <span class="btn-text">per WhatsApp</span>
          </button>
          <button class="main-btn">
            <span class="container-services">
              <img src="assets/icons/Mail.png" class="icon-email" alt="email">
            </span>
            <span class="btn-text">E-Mail</span>
          </button>
          <button class="main-btn">
            <span class="container-services">
              <img src="assets/icons/Kontaktformular.png" class="icon-transport" alt="transport">
            </span>
            <span class="btn-text">Kontaktformular</span>
          </button>

        </div>
      </div>
    </div>
  </div>
</div>