.feature-header1 {
  padding: 0.1rem 0.4rem 0.3rem 0.4rem;
}
.feature-header {
  padding: 0.3rem 0.5rem 0.5rem 0.5rem;
}

.person-option{
  /*   remaining in style.css  */
  padding-top: 0.3rem;
}

.container-callback {
  height: 25.6%;
  gap: 0.5rem;

}
