<nav class="main-nav">
  <div class="container nav-wrapper">
    <div class="home-icon" routerLinkActive="active">
      <a routerLink="/home" (click)="closeMenu()">
        <img src="assets/icons/Startseite.png" class="nav-icon-home" alt="home">
      </a>
    </div>

    <button class="hamburger" (click)="toggleMenu()">
      <mat-icon>{{ isMenuOpen ? 'close' : 'menu' }}</mat-icon>
    </button>

    <ul class="nav-links" [class.active]="isMenuOpen">
      <li *ngFor="let item of navItems" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: item.originalFileName !== 'Stromvergleich.png' }">

        <a [routerLink]="getRouterLink(item.originalFileName)" (click)="closeMenu()">
          <img [src]="getImageUrl(item.contentUrl)" [class]="getIconClass(item.originalFileName)"
            [alt]="item.originalFileName">

          <span class="nav-text">
            {{ item.heading }}
            <span *ngIf="item.subHeading" class="small-text">{{ item.subHeading }}</span>
          </span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>