
  /* ═══════════════════════════════════════
     MAIN CONTENT
  ════════════════════════════════════════ */
  .main-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 80%;
  }

  /* Progress bar */
  .progress-card {
    background: #fff;
    border-radius: 8px;
    border: 1px solid #0085e0;
    overflow: hidden;
    /* box-shadow: 0 2px 8px rgba(0,100,200,.07);  */
  }
  .progress-header {
    background: #0085e0;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 8px;
  }
  .progress-steps {
    display: flex;
    align-items: center;
    padding: 16px 20px;
    justify-content: space-between;
    position: relative;
  }
  .progress-steps::before { content: ''; position: absolute; top: 35%; left: 90px; right: 80px; height: 1px; background: #4a4949; transform: translateY(-50%); z-index: 0; }

  .step {
    display: flex; flex-direction: column; align-items: center; gap: 5px;
    position: relative; z-index: 1;
  }
  /* line between steps */
.step::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 75px;
  width: 200px;
  height: 1px;
  background: #4a4949;

}


/* remove line after last step */
.step:last-child::after {
  display: none;
}
  .step-circle {
    width: 28px; height: 28px; border-radius: 50%;
    display: flex; align-items: center; justify-content: center;
   font-weight: 600; font-size: 15px;
    background: #fff; border: 2px solid #4a4949; color: #4a4949;
    margin: 5px;
  }
  .step.active .step-circle {
    background: #1a1a2e; border-color: #1a1a1e; color: #fff;
  }

  .step-label { font-size: 15px; color: #888; text-align: center; }
  .step.active .step-label { color: #1a1a2e; font-weight: 600; }

  /* Section panels */
  .section-panel {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background: #fff;
    overflow: hidden;
  }
  .section-header {
    background: #00a651;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    padding: 9px 16px;
    display: flex; align-items: center; gap: 6px;
  }
  .section-body { padding: 18px ; border: 1px solid #4a4949; border-radius: 8px; }

  /* Form fields */
  .form-row { display: flex; gap: 10px; margin-bottom: 10px; }
  .form-group { display: flex; flex-direction: column; flex: 1; position: relative; }
  .form-group.shrink { flex: 0 0 auto; }

  .field-wrap {
    border: 1px solid #4a4949;
    border-radius: 8px;
    padding: 0px 36px 4px 12px;
    background: #fff;
    position: relative;
  }





  .field-wrap .field-label {
    font-size: 12px; font-weight: 500; display: block;
  }
  .field-wrap input {
    border: none; outline: none;
    font-size: 14px; font-weight: 500;
    width: 100%; padding: 0;
  }
  .field-wrap input::placeholder { font-weight: 400; }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: #000 !important;
  }

  .field-icon {
    position: absolute; right: 10px; top: 50%; transform: translateY(-50%);
    font-size: 13px ;
  }
  .field-info {
    position: absolute; right: -20px; top: 50%; transform: translateY(-50%);
  }

  /* Title buttons */
  .container-salutation, .container-readonly {padding-right: 20px;}
  .title-btn {
    border: 1px solid #4a4949; border-radius: 8px;
    padding: 10px 14px; background: #fff; font-size: 14px;
    color: #1a1a2e; cursor: pointer;
    flex: 1; text-align: center;
  }
  .title-btn:hover { border-color: #3a9bd5; }

  .help-text {
    font-size: 11px; font-weight: 500; margin-bottom: 10px; margin-top: -4px;
  }

  /* Radio-style toggle */
  .toggle-row { display: flex; gap: 10px; margin-bottom: 12px; width: 100%; }
  .toggle-box { display: flex; position: relative; margin-bottom: 12px; align-items: stretch; border: 1.5px solid #4a4949; border-radius: 8px; flex-shrink: 0; overflow: hidden;}
  .toggle-opt {
    flex: 1;
    padding: 10px 14px; display: flex; align-items: center; justify-content: center; gap: 8px;
    cursor: pointer; font-size: 14px; background: #fff;
  }
  .toggle-box::before {
  content: "";
  position: absolute;
  width: 1px;
  background: #4a4949;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

  .toggle-opt .chk {
    width: 15px; height: 15px; border-radius: 3px;
    border: 1.5px solid #1a1818; display: flex; align-items: center; justify-content: center;
    font-size: 10px; flex-shrink: 0;
  }
  .toggle-opt.selected .chk { background: #3a9bd5; border-color: #3a9bd5; color: #fff; }

  .btn-primary {
    background: #0085e0; color: #fff; border: none; border-radius: 8px;
    padding: 8px 22px; font-size:16px; font-weight: 600;
    cursor: pointer;
    display: block; margin-left: auto;
  }
  .btn-primary:hover { background: #2a7db5; }

  .calendar-icon { font-size: 14px; }
