.feature-header, .feature-header1{
  padding: 0.25rem 0.5rem 0.35rem 0.5rem;
}

.info-icon-home {
  vertical-align: super;
  position: relative;
  margin-left: 1px;
  cursor: pointer;
  color:  #ffffff;
  width: 1em;
  height: 1em;
  font-size: 0.7em;
  font-weight: 500;
  border-radius: 50%;
}

.container-compare {
  padding-bottom: 0.25rem;
}

.container-per-year {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.52rem 0rem 0.53rem 0rem;
}



.container-double {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.double{
  margin-bottom: 0.62rem;
}


